.submenu-link-burger:after,
.submenu-link-burger:before,
.submenu-link-burger>span {
    border-top: 1px solid #67bbd7;
    height: 1px;
    content: ""
}

.contact-content .subnav-row,
.sub-nav-content .subnav-row {
    clear: both
}

.contact-content h1,
.sub-nav-content .subnav-row .subnav-col a,
.sub-nav-mobile .sub-nav-content-mobile a {
    text-transform: uppercase;
    color: #fff;

}

.button-contact,
.sub-nav-bg,
.submenu-link-burger {
    -moz-box-shadow: 0 14px 18px -6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 14px 18px -6px rgba(0, 0, 0, .1);
    box-shadow: 0 14px 18px -6px rgba(0, 0, 0, .1)
}

.button-contact,
.submenu-link-burger {
    background-color: #fff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.button-contact:hover,
.submenu-link-burger:hover {
    -moz-box-shadow: 0 14px 18px -6px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 14px 18px -6px rgba(0, 0, 0, .4);
    box-shadow: 0 14px 18px -6px rgba(0, 0, 0, .4);
    -moz-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px)
}

.button-contact {
    background-color: #bf1216;
    top: 15px;
    right: 30px;
    position: absolute;
    margin-left: 10px;
    z-index: 50
}

.button-contact span {
    text-align: center;
    width: 100%;
    position: absolute!important;
    top: 0
}

.button-contact span:before {
    content: url(../img/contact.png);
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -25px
}

.submenu-link.submenu-link-open .button-contact span:before {
    content: url(../img/contactClose.png)
}

.submenu-link {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 88px 15px 0;
    z-index: 101;
    display: block
}

.submenu-link:hover {
    cursor: pointer
}

.submenu-link:hover .submenu-link-burger {
    -moz-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px)
}

.submenu-link:hover .submenu-link-burger span {
    width: 20px
}

.submenu-link span {
    position: relative;
    font-size: 16px;
    line-height: 50px;
    display: block
}

.submenu-link-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    margin: 0 auto;
    max-width: 1560px;
    z-index: 103
}

.submenu-link-burger {
    top: 15px;
    right: 30px;
    position: absolute;
    margin-left: 10px;
    background: #fff;
    z-index: 50
}

.submenu-link-burger:after,
.submenu-link-burger:before {
    left: 50%;
    margin-left: -10px;
    position: absolute
}

.submenu-link-burger:before {
    width: 20px;
    top: 37%;
    -moz-transition: -moz-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease
}

.submenu-link-burger>span {
    width: 15px;
    position: absolute;
    display: block;
    top: 50%;
    right: 50%;
    margin-right: -10px;
    -moz-transition: width .2s ease, opacity .3s ease;
    -o-transition: width .2s ease, opacity .3s ease;
    -webkit-transition: width .2s ease, opacity .3s ease;
    transition: width .2s ease, opacity .3s ease
}

.submenu-link-burger:after {
    width: 20px;
    bottom: 37%;
    -moz-transition: -moz-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease;
    transition: transform .3s ease
}

.submenu-link .anim {
    display: block;
    position: absolute;
    right: 30px;
    top: 15px;
    width: 50px;
    height: 50px;
    padding: 0;
    z-index: 30;
    opacity: 0;
    background: rgba(103, 187, 215, .4);
    -webkit-border-radius: 110%;
    -moz-border-radius: 110%;
    border-radius: 110%;
    -webkit-animation: garur 10s infinite ease;
    animation: garur 10s infinite ease
}

@-webkit-keyframes garur {
    0%,
    75% {
        opacity: 0;
        background: 0 0
    }
    90% {
        opacity: 1;
        right: 30px;
        top: 15px;
        width: 50px;
        height: 50px;
        background: 0 0
    }
    92% {
        background: #67bbd7
    }
    95% {
        background: #a2d770
    }
    100% {
        opacity: 0;
        right: -106px;
        top: -111px;
        height: 400%;
        width: 250%;
        background: #a2d770
    }
}

@keyframes garur {
    0%,
    75% {
        opacity: 0;
        background: 0 0
    }
    90% {
        opacity: 1;
        right: 30px;
        top: 15px;
        width: 50px;
        height: 50px;
        background: 0 0
    }
    92% {
        background: #67bbd7
    }
    95% {
        background: #a2d770
    }
    100% {
        opacity: 0;
        right: -106px;
        top: -111px;
        height: 400%;
        width: 250%;
        background: #a2d770
    }
}

.submenu-link-open .submenu-link-burger {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.submenu-link-open .submenu-link-burger span {
    opacity: 0
}

.submenu-link-open .submenu-link-burger:before {
    -moz-transform: rotate(-45deg) translateX(-4px) translateY(3px);
    -o-transform: rotate(-45deg) translateX(-4px) translateY(3px);
    -ms-transform: rotate(-45deg) translateX(-4px) translateY(3px);
    -webkit-transform: rotate(-45deg) translateX(-4px) translateY(3px);
    transform: rotate(-45deg) translateX(-4px) translateY(3px)
}

.submenu-link-open .submenu-link-burger:after {
    -moz-transform: rotate(45deg) translateX(-5px) translateY(-5px);
    -o-transform: rotate(45deg) translateX(-5px) translateY(-5px);
    -ms-transform: rotate(45deg) translateX(-5px) translateY(-5px);
    -webkit-transform: rotate(45deg) translateX(-5px) translateY(-5px);
    transform: rotate(45deg) translateX(-5px) translateY(-5px)
}

.sub-nav {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 99
}

.sub-nav-wrapper {
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    max-width: 1560px;
    z-index: 101
}

.sub-nav-wrapper-mobile {
    position: relative;
    z-index: 101
}

.sub-nav-content {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 100;
    width: 100%;
    max-width: 500px;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.sub-nav-content .subnav-row .subnav-col {
    max-width: 300px;
    float: right;
    width: 70%
}

.sub-nav-content .subnav-row .subnav-col a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 20px;
    /*background: url(../images/bullet_wh.png) no-repeat;*/
    padding-left: 23px
}

.sub-nav-bg {
    position: absolute;
    right: 0;
    -moz-transition: -moz-transform .4s ease-out;
    -o-transition: -o-transform .4s ease-out;
    -webkit-transition: -webkit-transform .4s ease-out;
    transition: transform .4s ease-out;
    width: 650px;
    height: 650px;
    -moz-transform: scale(0) translate(25%, -35%);
    -o-transform: scale(0) translate(25%, -35%);
    -ms-transform: scale(0) translate(25%, -35%);
    -webkit-transform: scale(0) translate(25%, -35%);
    transform: scale(0) translate(25%, -35%);
    moz-transform-origin: 100% 40px;
    -o-transform-origin: 100% 40px;
    -ms-transform-origin: 100% 40px;
    -webkit-transform-origin: 100% 40px;
    transform-origin: 100% 40px;
    margin-right: 50px;
    background-color: #a2d770;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF44A1D0', endColorstr='#FFC00F82');
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIxMSUiIHN0b3AtY29sb3I9IiM0NGExZDAiLz48c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iIzg4MjE5MiIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjYzAwZjgyIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(11%, #a2d770), color-stop(26%, #a2d770), color-stop(60%, #67bbd7));
    background-image: -moz-linear-gradient(left bottom, #a2d770 11%, #a2d770 26%, #67bbd7 60%);
    background-image: -webkit-linear-gradient(left bottom, #a2d770 11%, #a2d770 26%, #67bbd7 60%);
    background-image: linear-gradient(to right top, #a2d770 11%, #a2d770 26%, #67bbd7 60%);
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: 99
}

.sub-nav-closed {
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%)
}

.sub-nav-open {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.sub-nav-open .sub-nav-bg {
    -moz-transform: scale(1) translate(25%, -35%);
    -o-transform: scale(1) translate(25%, -35%);
    -ms-transform: scale(1) translate(25%, -35%);
    -webkit-transform: scale(1) translate(25%, -35%);
    transform: scale(1) translate(25%, -35%)
}

.sub-nav-open .sub-nav-content {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
    opacity: 1
}

.sub-nav-mobile {
    display: none;
    z-index: 102;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    position: fixed;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out
}

.sub-nav-mobile .sub-nav-bg-mobile {
    width: 700px;
    height: 700px;
    position: absolute;
    top: 0;
    z-index: 9;
    border-radius: 700px;
    -moz-transform: translate(-27%, 7%);
    -o-transform: translate(-27%, 7%);
    -ms-transform: translate(-27%, 7%);
    -webkit-transform: translate(-27%, 7%);
    transform: translate(-27%, 7%);
    background-color: #666;
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFa2d770', endColorstr='#FFC00F82');
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIzNyUiIHN0b3AtY29sb3I9IiNjMDBmODIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NGExZDAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 100%, 50% 0, color-stop(37%, #666), color-stop(100%, #000));
    background-image: -moz-linear-gradient(bottom, #666 37%, #000 100%);
    background-image: -webkit-linear-gradient(bottom, #666 37%, #000 100%);
    background-image: linear-gradient(to top, #666 37%, #000 100%)
}

.sub-nav-mobile .sub-nav-content-mobile {
    padding-top: 106px;
    z-index: 999;
    position: relative;
    opacity: 0;
    -moz-transition: opacity .5s ease-out, -moz-transform .4s ease-out;
    -o-transition: opacity .5s ease-out, -o-transform .4s ease-out;
    -webkit-transition: opacity .5s ease-out, -webkit-transform .4s ease-out;
    transition: opacity .5s ease-out, transform .4s ease-out;
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    padding-left: 10px;
    padding-right: 10px
}

.contact,
.contact-wrapper {
    width: 100%;
    z-index: 99;
    right: 0
}

.sub-nav-mobile .sub-nav-content-mobile a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px
}

.sub-nav-mobile.sub-nav-open {
    -moz-transform: translateY(-512px);
    -o-transform: translateY(-512px);
    -ms-transform: translateY(-512px);
    -webkit-transform: translateY(-512px);
    transform: translateY(-512px)
}

.sub-nav-mobile.sub-nav-open .sub-nav-content-mobile {
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
    opacity: 1;
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    position: fixed;
    overflow: auto;
    width: 100%;
    top: 0
}

.sub-nav-mobile.sub-nav-closed {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.contact {
    position: absolute;
    bottom: 35px
}

.contact-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 1560px;
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

.contact-wrapper-mobile {
    position: relative;
    z-index: 101
}

.contact-wrapper.open {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.contact-content {
    z-index: 99;
    position: relative;
    opacity: 0;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.contact-content .submenu-link-burger {
    position: relative;
    float: right
}

.contact-content .subnav-row .subnav-col {
    max-width: 230px;
    float: right;
    margin: 0 15px;
    width: 50%
}

.contact-content h1 {
    font-size: 15px;
    line-height: 1.2em;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px
}

.contact-content h1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, .4)
}

.contact-content h1 a {
    color: #fff;
    padding-left: 0;
}

.contact .sub-nav-bg {
    moz-transform-origin: 100% 83%;
    -o-transform-origin: 100% 83%;
    -ms-transform-origin: 100% 83%;
    -webkit-transform-origin: 100% 83%;
    transform-origin: 100% 83%;
    background-color: #666;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(28%, #666), color-stop(43%, #666), color-stop(70%, #000));
    background-image: -moz-linear-gradient(left, #666 28%, #666 43%, #000 70%);
    background-image: -webkit-linear-gradient(left, #666 28%, #666 43%, #000 70%);
    background-image: linear-gradient(to right top, #666 28%, #666 43%, #000 70%)
}

.contact-closed {
    -moz-transform: translate(100%, -100%);
    -o-transform: translate(100%, -100%);
    -ms-transform: translate(100%, -100%);
    -webkit-transform: translate(100%, -100%);
    transform: translate(100%, -100%);
    moz-transform-origin: 100% 30%;
    -o-transform-origin: 100% 30%;
    -ms-transform-origin: 100% 30%;
    -webkit-transform-origin: 100% 30%;
    transform-origin: 100% 30%
}

.contact-open {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.contact-open .sub-nav-bg {
    moz-transform-origin: 100% 30%;
    -o-transform-origin: 100% 30%;
    -ms-transform-origin: 100% 30%;
    -webkit-transform-origin: 100% 30%;
    transform-origin: 100% 30%;
    -moz-transform: scale(1) translate(30%, -10%);
    -o-transform: scale(1) translate(30%, -10%);
    -ms-transform: scale(1) translate(30%, -10%);
    -webkit-transform: scale(1) translate(30%, -10%);
    transform: scale(1) translate(30%, -10%);
    width: 975px;
    height: 975px
}

.contact-open .contact-content {
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
    opacity: 1
}

.contact-link-wrapper {
    bottom: 120px;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: 1560px;
    z-index: 102
}

.contact-link-wrapper .submenu-link.submenu-link-open span {
    color: #fff
}

.contact-link-wrapper .submenu-link-open .button-contact {
    background-color: #fff
}

.contact-link-wrapper .submenu-link span {
    font-size: 0;
    color: #999
}
